body {
  text-align: center;
}

.navbar {
  height: 70px !important;
}

.tabs {
  color: #777777;
  margin-top: 20px;
  list-style: none;
}

.tabs:visited {
  color: #777777;
}

#collapsibleNavbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro {
  background-image: url("gameboy.jpg");
  /* background: url("http://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"); */
}

#me-section, #resume-section {
  /* background: url("https://wallpaperset.com/w/full/6/1/1/533091.jpg"); */
  background-color: #ece5da;
  font-family: "Paytone One";

}
#iam, #projects, #resume{
  font-size: 45px;
}
.fa-sun,
.fa-fish,
.fa-baseball-ball,
.fa-journal-whills {
  font-size: 50px;
}
#project-section {
  background-color: #feb93d;
  font-family: "Paytone One";
}
